<div class="container">

    <div class="banner morphism">
        <div class="title">
            MandragoraS
        </div>
        <div class="subtitle">
            El arte de lo macabro se reune en un solo lugar.
        </div>

        <p-button label="Explorar" severity="primary" [rounded]="true"></p-button>
    </div>
    <!-- <div class="best-sellers">
        <div class="card morphism">
            <img class="icon" pTooltip="Más vendido" tooltipPosition="left" src="icons/best.png"
                    alt="más vendido">
            <div class="img-container">
                <img src="images/tshirt.png" alt="camiseta" class="img" />
                <div class="description">
                    <audio #audioPlayer src="songs/Warlord - Lucifers Hammer.mp3"></audio>
                    <div class="material">
                        <img src="icons/thread.png" width="16" alt="">
                        <div class="title">35%</div>
                        <div class="subtitle">poliester</div>
                        <div class="title">65%</div>
                        <div class="subtitle">algodón</div>
                    </div>
                    <br>
                    <div class="band">
                        <img src="icons/guitar.png" width="16" alt="">
                        <div class="title">Medieval Steel</div>
                        <div class="subtitle">The Anthology Of Steel</div>
                    </div>
                </div>
            </div>
            <div class="content">
                Camiseta | Medieval Steel
                <div class="price">$30.000</div>
            </div>
            <div class="footer">
                <p-button label="comprar" severity="primary" [rounded]="true" variant="outlined" />
            </div>
        </div>
    </div> -->
</div>

<div class="wallpaper">
    <img src="images/wallpaper.jpg" alt="wallpaper">
</div>