// Colores

// Primary
$primary-light-color: #BF1212;
$primary-color: #940e0e;
$primary-dark-color: #6B0A0A;

// Success
$success-color: #0e940e;

// Info
$info-color: #0e7594;

// Warn
$warn-color: #e4bf1a;

// Help
$help-color: #05465a;

// Lights
$white-color: #dddddd;
$gray-color: #cecece;

// Darks
$black-color: #1d1d1d;

// Backgrounds
$background-color: #1d1d1d;
