<div class="container">
    <div class="brand">
        <div class="logo">
            <img src="icons/brand/logo_light.png" alt="">
        </div>
        <span>MandragoraS</span>
    </div>
    <div class="buttons">
        <p-button label="Home" severity="primary" [rounded]="true" variant="outlined" routerLink="/home"/>
        <p-button label="Products" severity="contrast" [rounded]="true" variant="text" routerLink="/products"/>
        <p-button label="Contact" severity="contrast" [rounded]="true" variant="text" routerLink="/contact"/>
    </div>
    <div class="other">
        <p-button label="Contact" severity="contrast" [rounded]="true" variant="text" routerLink="/contact"/>
    </div>
</div>